<div class="settings container">
  <h1 class="header">Einstellungen</h1>

  <div class="settings-section">
    <h2 class="sub-header">Nutzerverwaltung</h2>

    <ul class="settings-user-list" ng-if="users.length">
      <li ng-repeat="user in users track by user._id"
          ng-mouseover="showDelete = true"
          ng-mouseleave="showDelete = false">
        <span>{{ user.name }}</span>
        <a ng-show="showDelete" ng-click="deleteUser($event, user._id)">löschen</a>
      </li>
    </ul>

    <div class="settings-user-list empty" ng-if="!users.length">
      Es sind noch keine Nutzer vorhanden.
    </div>

    <a ng-click="addUser()" class="button">Neuer Benutzer</a>
  </div>

  <div class="settings-section">
    <h2 class="sub-header">Sprachauswahl</h2>
    <p>Falls mehrere Sprachen installiert sind, können sie hier umgestellt werden.</p>

    <label for="settings-language"></label>
    <select id="settings-language"
            name="settings-language"
            class="settings-dropdown"
            ng-init="settings.language = 'Deutsch'"
            ng-model="settings.language">
      <option>Deutsch</option>
    </select>
  </div>

  <div class="settings-section">
    <h2 class="sub-header">Rechnungsvorlagen</h2>
    <p class="settings-label">Hier können Word Dokumente ausgewählt und einem Krankenkassentyp
      zugeordnet werden. Falls für alle Krankenkassentypen die gleiche Rechnungsvorlage verwendet
      wird, muss die Rechnungsvorlage keinem Typen zugeordnet werden.</p>

    <ul class="settings-template-list" ng-if="invoiceTemplates.length">
      <li ng-repeat="template in invoiceTemplates track by template._id"
          ng-mouseover="showDelete = true"
          ng-mouseleave="showDelete = false">
        <span>{{ template.name }}</span>
        <a ng-show="showDelete" ng-click="deleteTemplate($event, template._id)">löschen</a>
      </li>
    </ul>

    <div class="settings-template-list empty" ng-if="!invoiceTemplates.length">
      Es sind noch keine Rechnungsvorlagen vorhanden.
    </div>

    <a ng-click="addTemplate()" class="button">Neue Rechnungsvorlage</a>
  </div>
</div>
