@import "../../bower_components/susy/sass/susy";

$width-container: 980px;

$susy: (
  columns: 6,
  gutters: 0.35,
  container: $width-container,
  gutter-position: split,
  //debug: (image: show),
  global-box-sizing: border-box
);

.clearfix {
  @include clearfix;
}