@import "../../bower_components/susy/sass/susy";

$susy: (
  columns: 6,
  gutters: 0.35,
  gutter-position: split,
  //debug: (image: show),
  global-box-sizing: border-box
);

.clearfix {
  @include clearfix;
}

.container {
  padding: 1em;
}