<div class="patient container">
  <h1 class="header">Patient bearbeiten</h1>

  <div class="clearfix">
    <div class="patient-personal patient-abstract">
      <h2 class="sub-header">Persönliche Daten</h2>

      <label for="salutation">Anrede</label>
      <select id="salutation" name="salutation" ng-model="activePatient.salutation">
        <option>Herr</option>
        <option>Frau</option>
        <option>Herr Dr.</option>
        <option>Frau Dr.</option>
      </select>

      <label for="firstname">Vorname</label>
      <input type="text" id="firstname" name="firstname" ng-model="activePatient.firstname" />

      <label for="lastname">Nachname</label>
      <input type="text" id="lastname" name="lastname" ng-model="activePatient.lastname" />

      <label for="street">Straße</label>
      <input type="text" id="street" name="street" ng-model="activePatient.street" />

      <span class="table two">
        <span class="table-row">
          <span class="table-cell" style="width: 9em;">
            <label for="postal">PLZ</label>
            <auto-complete
              id="postal"
              model="activePatient"
              retrieve-suggestions-fn="postalService.getSuggestions(input)">
            </auto-complete>
          </span>
          <span class="table-cell">
            <label for="city">Ort</label>
            <input type="text" id="city" name="city" ng-model="activePatient.city" />
          </span>
        </span>
      </span>

       <span class="table three">
        <span class="table-row">
          <span class="table-cell">
            <label for="phone">Telefon</label>
            <input type="text" id="phone" name="phone" ng-model="activePatient.phone" />
          </span>
          <span class="table-cell">
            <label for="office">Geschäftlich</label>
            <input type="text" id="office" name="office" ng-model="activePatient.office" />
          </span>
          <span class="table-cell">
            <label for="mobile">Mobil</label>
            <input type="text" id="mobile" name="mobile" ng-model="activePatient.mobile" />
          </span>
        </span>
      </span>

      <span class="table two">
        <span class="table-row">
          <span class="table-cell">
            <label for="birthday">Geburtstag</label>
            <input type="text" id="birthday" name="birthday" ng-model="activePatient.birthday" />
          </span>
          <span class="table-cell">
            <label for="status">Familienstatus</label>
            <select id="status" name="status" ng-model="activePatient.status">
              <option>alleinstehend</option>
              <option>verheiratet</option>
              <option>geschieden</option>
              <option>verwittwet</option>
            </select>
          </span>
        </span>
        <span class="table-row">
          <span class="table-cell">
            <label for="insurance">Versicherung</label>
            <select id="insurance" name="insurance" ng-model="activePatient.insurance.type">
              <option>Privat</option>
              <option>Privat Zusatz</option>
              <option>Gesetzlich</option>
            </select>
          </span>
          <span class="table-cell">
            <label for="insurance-name">Name der Versicherung</label>
            <input type="text" id="insurance-name" name="insurance-name" ng-model="activePatient.insurance.name" />
          </span>
        </span>
      </span>

      <label for="profession">Beruf</label>
      <input type="text" id="profession" name="profession" ng-model="activePatient.profession" />

      <label for="notes">Sonstige Bemerkungen</label>
      <textarea rows="4" id="notes" name="notes" ng-model="activePatient.notes"></textarea>
    </div>

    <div class="patient-attributes patient-abstract">
      <label for="attention">Vermerk</label>
      <input type="text" id="attention" name="attention" ng-model="activePatient.attention" />

      <label for="reference">Referenz durch</label>
      <input type="text" id="reference" name="reference" ng-model="activePatient.reference" />

      <label for="doctor">Behandelnder Arzt</label>
      <select id="doctor" name="doctor" ng-model="activePatient.doctor">
        <option ng-repeat="user in users track by user._id">{{ user.name }}</option>
      </select>

      <input type="checkbox" id="paperfile" name="paperfile" value="paperfile" ng-model="activePatient.paperfile" />
      <label for="paperfile">Papierakte vorhanden</label>
    </div>
  </div>

  <div class="patient-abstract">
    <div class="patient-findings">
      <h2 class="sub-header">Aktuelles</h2>

      <label for="findings">Befunde</label>
      <textarea rows="3" id="findings" name="findings" ng-model="activePatient.findings" >
      </textarea>
    </div>
    <div class="patient-therapy">
      <label for="therapy">Therapie</label>
      <textarea rows="3" id="therapy" name="therapy" ng-model="activePatient.therapy" >
      </textarea>
    </div>
  </div>

  <div class="patient-abstract">
    <h2 class="sub-header">Krankengeschichte</h2>

    <span class="table three">
      <span class="table-row">
        <span class="table-cell">
          <label for="operations">Operationen</label>
           <textarea rows="4" id="operations" name="operations" ng-model="activePatient.history.operations" >
          </textarea>
        </span>
        <span class="table-cell">
          <label for="accidents">Unfälle</label>
          <textarea rows="4" id="accidents" name="accidents" ng-model="activePatient.history.accidents" >
          </textarea>
        </span>
        <span class="table-cell">
          <label for="disease">Vorerkrankungen</label>
          <textarea rows="4" id="disease" name="disease" ng-model="activePatient.history.disease" >
          </textarea>
        </span>
      </span>
    </span>
  </div>

  <div class="patient-abstract">
    <div class="patient-current">
      <h2 class="sub-header">Risikofaktoren</h2>

      <label for="allergy">Allergien</label>
      <textarea rows="3" id="allergy" name="allergy" ng-model="activePatient.risks.allergy">
      </textarea>

      <label for="medicine">Medikation</label>
      <textarea rows="3" id="medicine" name="medicine" ng-model="activePatient.risks.medicine">
      </textarea>
    </div>
  </div>
</div>
<div class="footer">
  <a class="button" ng-click="abort($event)">Abbrechen</a>
  <a class="button" ng-click="deletePatient($event)">Löschen</a>
  <a class="button" ng-click="updatePatient($event)">Speichern</a>
</div>
