<div class="invoice container">
  <h1 class="header">Abrechnungen</h1>

  <a ng-click="showOpenInvoices()"
     ng-class="{ active: openInvoicesActive }"
     class="button">Offene Rechnungen</a>
  <a ng-click="showDueInvoices()"
     ng-class="{ active: dueInvoicesActive }"
     class="button">Fällige Rechnungen</a>
  <a ng-click="showOpenReceipts()"
     ng-class="{ active: openReceiptsActive }"
     class="button">Offene Quittungen</a>

  <div class="invoice-instructions">
    <span ng-if="selectedInvoices == undefined">
      Bitte eine Rechnungskategorie wählen.
    </span>

    <span ng-if="selectedInvoices && selectedInvoices.length == 0">
      <span ng-if="openInvoicesActive">
         Es sind keine offenen Rechnungen vorhanden.
      </span>
      <span ng-if="dueInvoicesActive">
        Schade, es sind keine Rechnungen fällig.
      </span>
       <span ng-if="openReceiptsActive">
         Es sind keine offenen Quittungen vorhanden.
      </span>
    </span>
  </div>

  <ul class="invoice-list table" ng-if="selectedInvoices.length">
    <li class="table-row" ng-repeat="invoice in selectedInvoices">
      <span class="table-cell">
        <a ng-click="goToPatientDetails(invoice.patient._id)">
          {{ invoice.patient.firstname }} {{ invoice.patient.lastname }}</a>
        <span style="margin-left: 0.6em;">({{ invoice.patient.birthday }})</span>
      </span>
      <span class="table-cell">{{ invoice.amount }} Euro</span>
      <span class="table-cell">
        <ul>
          <li ng-repeat="treatment in invoice.treatments track by treatment.id">
            <span>{{ treatment.date | dateFilter }}</span>
            <span>{{ treatment.description }}</span>
          </li>
        </ul>
      </span>
      <span class="table-cell" ng-if="dueInvoicesActive">
        <a ng-click="createInvoice(invoice)">Rechnung erstellen</a>
      </span>
      <span class="table-cell" ng-if="openInvoicesActive">
        <a ng-click="setInvoiceDue(invoice)">Als fällig markieren</a>
      </span>
       <span class="table-cell" ng-if="openReceiptsActive">
        <a ng-click="setReceiptRead(invoice)">entfernen</a>
      </span>
    </li>
  </ul>
</div>