%invoice {
  display: block;

  .button {

    &.active {
      background-color: #e6e6e6;
    }
  }

  .invoice-instructions {
    margin-top: 2em;
  }

  .table-row {

    &:hover {
      background-color: lighten($c-background, 3%);
    }
  }

  .table-cell {
    padding: 0.3em 1em 0.5em 0.3em;
  }

  .new-dialog {
    padding: 0.8em;

    .header {
      min-width: 14em;
      margin-bottom: 0.8em;
    }

    .invoice-template-selection {
      list-style: none;
      margin: 1em 0;
    }

    .invoice-templates-empty {
      margin-top: 1em;
    }
  }

  .dialog-action-bar {
    margin-top: 1em;
  }
}

.invoice {
  @extend %invoice;
}