%invoice {
  display: block;

  .button {

    &.active {
      background-color: #e6e6e6;
    }
  }

  .invoice-instructions {
    margin-top: 2em;
  }

  .table-row {

    &:hover {
      background-color: lighten($c-background, 3%);
    }
  }

  .table-cell {
    padding: 0.3em 1em 0.5em 0.3em;

    ul {
      list-style: none;
      display: table;

      li {
        display: table-row;
      }

      span {
        display: table-cell;
        padding: 0 1em 0.1em 0.2em;

        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .new-dialog {
    padding: 0.8em;

    .header {
      min-width: 14em;
      margin-bottom: 0.8em;
    }

    .invoice-template-selection {
      list-style: none;
      margin: 1em 0;
    }

    .invoice-templates-empty {
      margin-top: 1em;
    }

    .invoice-positions-empty {
      margin-top: 1em;
    }

    .invoice-positions-list {
      list-style: none;
      display: table;
      margin-top: 0.8em;

      li {
        display: table-row;
      }

      span {
        display: table-cell;
        padding: 0.1em 1em 0.1em 0.2em;

        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .dialog-action-bar {
    margin-top: 1em;
  }
}

.invoice {
  @extend %invoice;
}