%patient {

  .patient-header-controls {
    @include clearfix();

    margin-bottom: 2em;
  }

  .patient-quick-links {
    display: block;
    float: left;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      padding: 0.3em 1em 0.3em 0;
    }
  }

  .patient-filter {
    display: block;
    width: 20em;
    float: right;
    text-align: right;

    input {
      display: inline-block;
      visibility: hidden;
      border: transparent;
      width: 0;
      -webkit-transition: width 1s ease-in-out, visibility 1s linear, border 1s linear;

      &.show {
        visibility: visible;
        border: 1px solid $c-border;
        width: 18em;
      }
    }

    .fa {
      display: inline-block;
      margin-left: 0.3em;
      margin-top: 0.5em;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .patient-list {
    display: block;
    list-style: none;

    li {
      min-height: 2em;
      border-bottom: 1px solid $c-border;
      margin-bottom: 0.3em;

      cursor: pointer;
    }
  }

  .patient-abstract {
    display: block;
    width: 100%;
    padding: 0.8em;
    border: 1px solid $c-border-color;
    background-color: $c-background-blue;
    margin-bottom: 1em;
  }

  .patient-personal  {
    float: left;

    @include respond-above("small") {
      width: 70%;
    }
  }

  .patient-attributes {
    float: left;

    @include respond-above("small") {
      width: 28%;
      margin-left: 2%;
    }
  }

  .table {
    &.two {
      .table-cell {

        &:first-of-type {
          padding-right: 0.5em;
        }
      }
    }

    &.three {
      .table-cell {
        padding-right: 0.5em;
        width: 33%;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  .patient-history {
    width: 100%;
    padding: 0.5em;
    border: 1px solid $c-border-color;
  }

  input, select, textarea {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
  }

  .patient-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
    padding: 0.5em 1em;
  }
}

.patient {
  @extend %patient;
}