%patient-details {
  min-height: 100%;
  padding-bottom: $footer-height + 1em;

  .patient-header-controls {
    @include clearfix();

    margin-bottom: 2em;
  }

  .patient-abstract {
    display: block;
    width: 100%;
    padding: 0.8em;
    border: 1px solid $c-border-color;
    background-color: $c-background-blue;
    margin-bottom: 1em;
  }

  .patient-personal  {
    float: left;

    @include respond-above("small") {
      width: 60%;
    }
  }

  .patient-attributes {
    float: left;

    @include respond-above("small") {
      width: 38%;
      margin-left: 2%;
    }
  }

  .patient-attention {
    margin-bottom: 2em;
  }

  .table {
    &.list {
      margin-bottom: 1em;

      .table-cell {

        &:first-of-type {
          width: 11em;
        }

        &:last-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .patient-history {
    width: 100%;
    padding: 0.5em;
    border: 1px solid $c-border-color;
  }
}

.patient-details {
  @extend %patient-details;
}