<div class="invoice ng-cloak" ng-cloak>
  <div class="new-dialog">
    <h1 class="header">Auswahl der Rechnungsvorlage</h1>

    <div ng-if="!vm.templates || vm.templates.length === 0" class="invoice-templates-empty">
      Es sind keine Rechnungsvorlagen vorhanden. <br />
      Bitte erst eine Rechnungsvorlage in den Einstellungen hinzufügen.
    </div>

    <div ng-if="vm.templates && vm.templates.length">
      <span>
        Es konnte dem Patienten keine Rechnungsvorlage zugeordnet werden. <br />
        Bitte eine Rechnungsvorlage auswählen:
      </span>

      <ul class="invoice-template-selection">
        <li ng-repeat="invoiceTemplate in vm.templates track by invoiceTemplate._id">
          <a ng-click="vm.chooseTemplate(invoiceTemplate)">{{ invoiceTemplate.name }}</a>
        </li>
      </ul>
    </div>

    <div class="dialog-action-bar">
      <a ng-click="vm.abort()" class="button">Abbrechen</a>
    </div>
  </div>
</div>