// base colors
$c-white: #fff;
$c-grey: #ccc;
$c-grey-dark: #7a7a7a;
$c-green: #5cbd3d;
$c-red: #d92929;
$c-blue: #4897c1;

// standard colors
$c-primary: $c-blue;
$c-border: $c-grey;
$c-border-color: $c-blue;

// background colors
$c-background: #e6e6e6;
$c-background-blue: rgba(73, 155, 237, 0.2);
$c-background-dark: $c-grey-dark;

// font colors
$c-text: #1d1d1d;
$c-text-light: $c-grey-dark;

// status colors
$c-status-okay: $c-green;
$c-status-error: $c-red;
