html {
  min-height: 100%;
}

body {
  min-width: 480px;
  min-height: 100%;
  position: relative;
  padding-bottom: 3em;
}

.header {
  display: block;
  margin-bottom: 0.8em;
  font-weight: bold;
}

.footer {
  position: relative;
  background-color: #ddd;
  padding: 0.5em 1em;
  height: $footer-height;
  margin-top: -$footer-height;
}

.sub-header {
  display: block;
  margin-bottom: 0.6em;
  font-weight: bold;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.table-heading {
  font-weight: bold;
}

.status-error {
  display: block;
  margin: 0.3em 0;
  color: $c-status-error;
}

.status-success {
  display: block;
  margin: 0.3em 0;
  color: $c-status-success;
}