body {
  min-width: 480px;
  position: relative;
  padding-bottom: 3em;
}

.header {
  display: block;
  margin-bottom: 0.8em;
  font-weight: bold;
}

.sub-header {
  display: block;
  margin-bottom: 0.6em;
  font-weight: bold;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}