.ribbon {
  width: 100%;
  background-color: #ddd;
  padding: 0.5em 1em;
  border-bottom: 1px solid $c-border;

  a {
    display: inline-block;
    padding: 0.5em 1em;

    &.active {
      background-color: #e6e6e6;
    }
  }
}