$ff-body: 'Open Sans', sans-serif;
$ff-headline: 'Open Sans', sans-serif;

$fs-smallest: 0.7rem;
$fs-smaller: 0.8rem;
$fs-small: 0.9rem;

$fs-normal: 1rem;

$fs-large: 1.1rem;
$fs-larger: 1.2rem;
$fs-largest: 1.4rem;

html {
  font-size: 16px; // standard font size
}

body {
  font-size: 100%;
}

strong {
  font-weight: 600;
}

body {
  font-family: $ff-body;
  color: $c-text;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-headline;
}

h1 {
  font-size: $fs-largest;
  line-height: 1em;
  font-weight: normal;
}

h2 {
  font-size: $fs-large;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

p {
  font-size: $fs-normal;
  line-height: 1.6em;
}

a, a:visited {
  color: $c-text;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #000090;
}